*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}


.info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
   
}

.image-container img{
  width: 139px;
  padding-top: 16px;
}

.info-container ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 34px;
}
.list-item{
  font-size: 16px;
  color: #000000;
  line-height: 152%;
  font-weight:500;
  gap: 32px;
}

.btn{
 
  background-color: #469165;
  padding: 12px 16px;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
}

#hero-section{
  padding-top: 115px;
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 
}
.hero{
  max-width: 1360px;
  margin: 0 auto;
  text-align: center; 
}
 
.btn-1{
  width:229px ;
  border-radius: 100px;
  background-color: #FFFFFF;
  color: #469165; 
  padding: 8px 12px 8px 34px;
  cursor: pointer;
}
.about-info{
  width: 770px;
  margin: 0 auto;
}
.about-info h1{
  font-size: 72px;
  font-weight: bold;
  padding-bottom: 16px;
  line-height: 84px;
  color: white;
}
.green{
  color: #30B868;
}
.info-container p{
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 32px;
  color: #FFFFFF;
  margin: 0 auto;
}

.btn-2{
  max-width: 465px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
  padding-bottom: 189.5px;
    white-space: nowrap;
  
}

.btn-2 .first{
  display: flex;
  max-width: 300px;
  background-color: #469165;
  padding: 16.5px 16px 16.5px 16px;
  font-size: 16px;
  font-weight:600 ;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}
.first img{
  padding: 0px 10px;  
}
 .btn-2 .second{
font-size: 16px;
font-weight: 600px;
padding: 16.5px 16px 16.5px 16px;
color: #FFFFFF;
background: rgba(255, 255, 255, 0.05);
border-radius: 4px;
cursor: pointer;
 } 
 #notes{
 text-align: center;
 margin: 0 auto;
 }
 .notes-container h2{
  max-width: 1360px;
  height: 116px; 
   font-size:48px;
  font-weight: bold;
  padding-bottom: 16px;
  padding-top: 50px; 
  display: inline-block; 
 }
 .notes-container p{
   font-size: 16px;
  line-height: 20px;
  color: #627382;
  padding-bottom: 44px;
 }
 .note-info-card{
  max-width: 322px; 
   margin: 0 auto; 
  justify-content: space-around;
   height: 300px
 }
 .notes-info{
   display: flex;
   max-width: 1360px; 
   margin: 0 auto; 
   gap: 24px; 
 }
 .notes-info .note-info-card
 h3{
   font-size: 24px;
   color: #001931; 
  font-weight: 600; 
   padding-bottom: 16px; 
 }
.note-info-card p{
 font-size: 16px; 
 line-height: 20px; 
 color: #627382; 
}

#brain{
  padding: 120px;
 
}
.brain-container{ 
  max-width: 1360px;
  display: flex;
  gap: 60px;
 
}
.image{ 
  max-width: 600px; 
}
.brain-info{
  max-width: 700px;
  margin: 102px 0 102px 0;
}
.solution .heading{
  font-size: 16px;
  color: #469165;
  line-height: 20px;
  padding-bottom: 16px;
  font-weight: 500;
}
.solution h2{
  font-size: 48px;
  font-weight: 600;
  color: #001931;
  padding-bottom: 16px;
  height: 116px;
}
.solution p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  padding-bottom: 40px;
}
.note-info{
  display: flex;
  gap: 6px;
  padding-bottom: 16px;
}
  .note-info p{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #001931;
  }

  #access{
    padding: 2px 120px 120px 120px;
  }
  .access-container{
    max-width: 1360px;
   background-color: #F7F6F2;
    padding: 80px 40px;
   text-align: center;
  }
  .access-info h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
  }
  .access-info p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    padding-bottom: 24px;
  }
  .access-button button{
    max-width: 194px;
    display: flex;
    margin: auto;
    background-color: #469165;
    padding: 16.5px 16px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    gap: 10px;
    height: 52px;
    cursor: pointer;
  }
  .access-button img{
    width: 20px;
  }
  .button-info p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    padding-top: 16px;
  }

  #footer{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
  }
  .footer-container{
    max-width: 1360px;
   
  }
  .footer-info{
   display: flex;
   justify-content: space-between;
   padding-bottom: 80px;
   
   height: 65px;
  }
  .footer-image{
    max-width: 350px;
    padding-bottom: 4px;
  }
  .link{
    max-width: 220px;
   
   
  }
  .link h6{
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 16px;
    padding-right: 100px;
  }
  .link a{
    width: 20px;
    gap: 16px;
    background-color: white;
    color: #000000;
    border-radius: 50%;
  }

  .copyright{
    max-width: 1360px;
   

  }
  .copyright p{
    padding-top: 30px;
    
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
  }
  .footer-line{
    color: #E5E7EB;
    margin-top: 40px;
  
  }

