*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}


.info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
   
}

.image-container img{
  width: 139px;
  padding-top: 16px;
}

.info-container ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 34px;
}
.list-item{
  font-size: 16px;
  color: #000000;
  line-height: 152%;
  font-weight:500;
  gap: 32px;
}

.btn{
 
  background-color: #469165;
  padding: 12px 16px;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
}

#hero-section{
  padding-top: 115px;
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 
}
.hero{
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  
}

.btn-1{
  width:229px ;
  border-radius: 100px;
  background-color: #FFFFFF;
  color: #469165; 
  padding: 8px 12px 8px 34px;
}
.about-info{
  width: 770px;
  margin: 0 auto;
}
.about-info h1{
  font-size: 72px;
  font-weight: bold;
  padding-bottom: 16px;
  line-height: 84px;
  color: white;
}
.green{
  color: #30B868;
}
.info-container p{
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 32px;
  color: #FFFFFF;
  margin: 0 auto;
}

.btn-2{
  width: 465px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
  padding-bottom: 189.5px;
}
.btn-2 .first{
  max-width: 251px;
  background-color: #469165;
  padding: 16.5px 46px 16.5px 16px;
  font-size: 16px;
  font-weight:600 ;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}
 .btn-2 .second{

font-size: 16px;
font-weight: 600px;
padding: 16.5px 16px 16.5px 46px;
color: #FFFFFF;
background: rgba(255, 255, 255, 0.05);
border-radius: 4px;
 } 

 #notes{
 text-align: center;
 margin: 0 auto;
 }
 .notes-container h2{
  max-width: 1360px;
  height: 116px;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 16px;
 text-transform: capitalize; 
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
 }
 .notes-container p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  padding-bottom: 44px;
 }
 .note-info-card{
  max-width: 322px;
  margin: 0 auto;
  justify-content: space-around;
  height: 300px;
 }
 .notes-info{
  display: flex;
  max-width: 1360px;
  margin: 0 auto;
  gap: 24px;
 }
 .notes-info .note-info-card
 h3{
  font-size: 24px;
  color: #001931;
  font-weight: 600;
  padding-bottom: 16px;
 }
.note-info-card p{
font-size: 16px;
line-height: 20px;
color: #627382;
}

  
  

